apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: observer-data-pvc
  namespace: observer
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: observer-logs-pvc
  namespace: observer
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi