apiVersion: v1
kind: Service
metadata:
  name: observer
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: observer
    app.kubernetes.io/instance: {{ .Release.Name }}