apiVersion: v1
kind: Service
metadata:
  name: observer
  labels:
    app: observer
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8000
      targetPort: http
      protocol: TCP
  selector:
    app: observer
