apiVersion: v1
kind: Service
metadata:
  name: {{ include "qts.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "qts.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "qts.selectorLabels" . | nindent 4 }}
