# Observer 스테이징: 리소스
apiVersion: apps/v1
kind: Deployment
metadata:
  name: observer
spec:
  template:
    spec:
      containers:
        - name: observer
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
